@import '_settings';

$-placeholders: ();

@function placeholder-exists($name) {
  @if index($-placeholders, $name) == null {
    @return false;
  }
  @return true;
}

@function -register-placeholder($name) {
  @if placeholder-exists($name) {
    @error 'The key `#{$name}` has already been registered.';
  }
  $-placeholders: append($-placeholders, $name) !global;
  @return $name;
}

@mixin define-placeholder($name) {
  %#{$name} {
    $name: -register-placeholder($name);
    @content;
  }
}

@function getGCD($a, $b)
{
	$a: abs($a);
	$b: abs($b);
	@if $b == 0 {
		@return $a;
	}
	@return getGCD($b, $a % $b);
}

@function simplify($num, $den)
{
	$gcd: getGCD($num, $den);
	@if round($gcd) == $gcd {
		$simple_num: $num/$gcd;
		$simple_den: $den/$gcd;
		$class: #{$prefix}-#{$simple_num}-#{$simple_den};
		@return $class;
	}
	@else {
		@return false;
	}
}

@function getWidth($ratio)
{
	@return calc(( 100% - ( 1 / #{$ratio} - 1 ) * #{$gutter}) / 1 * #{$ratio});
}

@function cleanRatio($ratio)
{
	@if is-number($ratio) and unit($ratio) == '%' {
		@return $ratio / 100%;
	}
	@else {
		@return $ratio;
	}
}

@mixin col($ratio)
{
	width: getWidth(cleanRatio($ratio));
	box-sizing: border-box;
	float: $direction;
}

@mixin stack
{
	&.stack > * {
		display: block;
		clear: both;
		float: none;
		width: 100%;
		margin: {
			left:  auto;
			right: auto;
		};
		@content;
	}
}

@mixin generateColumns
{
	@for $num from 1 through $max {
		@for $den from $num through $max {
			@if $num < $den {
				@include define-placeholder(#{$prefix}-#{$num}-#{$den}) {
					@include col($num/$den);
				}
				@if simplify($num,$den) {
					.#{$prefix}-#{$num}-#{$den} {
						@extend %#{simplify($num,$den)};
					}
				}
				@else {
					.#{$prefix}-#{$num}-#{$den} {
						@include col($num/$den);
					}
				}
			}
		}
	}
}

@include generateColumns;

$directions: left center right;

@each $direction in $directions {
	@if $direction == center {
		.center {
			float: none;
			margin: 0 auto;
		}
	}
	@else {
		.#{$direction} {
			float: $direction;
		}
	}
}

.#{$container} {
	box-sizing: border-box;
	&:after, &:before {
		content: '';
		display: block;
		clear: both;
	}
	& > [class*='#{$prefix}']:first-child {
		margin-left: 0;
	}
  	& > [class*='#{$prefix}']:last-child {
		margin-right: 0;
	}
  	& > [class*='#{$prefix}'] {
		margin: 0 $gutter / 2;
	}
	@include stack;
}